<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Parte de categorias</title>
</head>
<body>
    
<div class="prop">
    
    <h4>Uma nova forma de demonstrar sua personalidade</h4>
  
    <hr>
    <p>Na 2UCASE você tem algo especial e único que poucos têm.<br> Aqui você é livre e autêntico. Desde o mais simples, passando pelo clássico até o mais <br>elaborado acessório para o seu celular.</p>

    <div class="imgcap">
       <img src="cap.png" alt="capinhas">
       <div class="alerta"> 
        <div class="titl">DISNEY + 2UCASE</div>
        <p class="anun">Uma parceria da 2UCASE com a Disney traz as mais coloridas e animadas capinhas do mercado, toda a magia e encanto nas suas mãos.</p>
            
        <button type="submit" class="confi">CONFIRA</button>
        </div>
    </div>
    
</div>
<div class="vazio">vazio aqui</div>


<div class="catg">
    <ul>
      <li class="category1">
        <div class="text-wrapper">Heróis</div>
      </li>
      <li class="category2">
        <div class="text-wrapper">Animações</div>
      </li>
      <li class="category3">
        <div class="text-wrapper">Estampas</div>
      </li>
      <li class="category4">
        <div class="text-wrapper">Flork</div>
      </li>
      <li class="category5">
        <div class="text-wrapper">Times</div>
      </li>
    </ul>
  </div>
</body>  
</html>
