@import url('reset.css');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#fff ;
    color: var(--tex-color);
}

header{
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8%;
    background-color: var(--cor-principal);

}

.logo{
    display: flex;
    align-items: center;
    color: var(--tex-color);
    font-size: 28px;
    font-weight: bold;
    color:#ffffff;
    margin-left: -50px;
}

.logo i{
    color: var(--main-color);
    font-size: 32px;
    margin-right: 5px;
}

.navegacao{
    display: flex;
}

.navegacao a{
    color: #ffffff;
    font-size: var(--p-font);
    font-weight: 500;
    margin: 0 30px;
    transition: a .55s ease;
}

.navegacao a:hover{
    color: var(--main-color);

}

.header-icons{
    display: flex;
    align-items: center;
    color: #fff;
}

#menu{
    font-size: 35px;
    color: var(--tex-color);
    z-index: 10001;
    cursor: pointer;
    color:#fff;
}

.header-icons i{
    margin-right: 25px;
    font-size: 28px;
    cursor: pointer;
    transition: all .5s ease;
}

.header-icons i:hover{
    transform: translateY(-5px);
    color: var(--main-color);
}


.mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #89a3ff;
    margin: 8px;
    transition: 0.3s;
  }

#searchbar{
    margin-left: 1.9rem;
    width: 64%;
    margin-bottom: 10px;
    
}

nav{
    width: 100%;
    margin-left:3rem;
}

input[type=text]{
    padding-left:10px;  
    border-radius: 5px;
    outline: none;
    border-style: none;
    padding: 7px;
}

.infoLogDiv{
    width: 25%;
}

.infoLog{
    width: fit-content;
    margin-left: -20px;
    color: #fff;
}