@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Work+Sans:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #F8F8FF;
}

:root{
    --cor-principal: #698AFF;
    --svg-color: #f58e80;
    --cor-secundaria-background: rgb(16, 55, 65);
    --cor-secundaria-gradient: linear-gradient(90deg, rgba(16, 55, 65, 1) 32%, rgba(16, 77, 92, 1) 85%);
}

h1{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
}
